name: Live Track CD

on:
  workflow_run:
    workflows: ["Live Track CI"]
    branches: ["main"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - name: serverless deploy
        uses: serverless/github-action@f5f0c17d6ef97718c03f2c0a87c5d9b0bacbb1d8
        with:
          args: deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          ALERT_EMAIL: ${{ secrets.ALERT_EMAIL }}
